<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>

<h3 th:text>List of Users</h3>
<br>

<table>

    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>
    <tr th:each = "user : ${users}">

        <td th:text = "${user.username}">...</td>
        <td th:text = "${user.name}">...</td>
        <td th:text = "${user.surname}">...</td>
        <td th:text = "${user.age}">...</td>
        <td th:text = "${user.roles.toString()}">...</td>

        <td>
            <form th:method = "GET" th:action = "@{/admin/updateUser}" th:object = "${user}">
                <button type = "submit" th:name = "id" th:value = "${user.getId()}">UPDATE USER</button>
            </form>
        </td>
        <td>
            <form th:method = "POST" th:action = "@{/admin/deleteUser}" th:object = "${user}">
                <button type = "submit" th:name = "id" th:value = "${user.getId()}">DELETE USER</button>
            </form>
        </td>
        <td>
            <div sec:authorize="hasRole('ROLE_USER')">
                <span th:if = "${user.getId} == ${thisUser.getId}">
                    <form th:method = "GET" th:action = "@{/user}" th:object = "${user}">
                        <input type = "submit" value = "USER INFO">
                    </form>
                </span>
            </div>
        </td>
    </tr>
</table>
<br>

<form th:action = "@{/admin/addNewUser}" method = "GET" th:object = "${user}">
    <input type = "submit" value = "ADD USER">
</form>
<br>

<form th:action = "@{/logout}" method = "POST">
    <input type = "submit" value = "LOGOUT">
</form>

</body>
</html>